package blocks

import (
	"fmt"
	"github.com/nathanhollows/Rapua/v7/blocks"
	"github.com/nathanhollows/Rapua/v7/models"
)

templ toggleTextPlayer(_ models.InstanceSettings, block blocks.ToggleTextBlock) {
	if block.Title != "" || block.Content != "" {
		<details
			if block.Small {
				class="collapse collapse-arrow bg-base-100 border-base-300 border text-sm"
			} else {
				class="collapse collapse-arrow bg-base-100 border-base-300 border"
			}
		>
			<summary class="collapse-title font-semibold after:start-5 after:end-auto pe-4 ps-12">{ block.Title }</summary>
			<div class="collapse-content prose">
				@templ.Raw(stringToMarkdown(block.Content))
			</div>
		</details>
	}
}

var toggleTextContentTextarea = TextareaParams{
	Name:         "content",
	Title:        "Content",
	Placeholder:  "Markdown content here",
	Markdown:     true,
	ExtraClasses: "w-full min-h-40",
	Required:     true,
}

templ toggleTextAdmin(_ models.InstanceSettings, block blocks.ToggleTextBlock) {
	<form
		id={ fmt.Sprintf("form-%s", block.ID) }
		hx-put={ fmt.Sprint("/admin/blocks/", block.ID) }
		hx-trigger={ fmt.Sprintf("keyup from:#form-%s delay:500ms, change from:#form-%s delay:100ms", block.ID, block.ID) }
		hx-swap="none"
	>
		<div class="flex flex-col sm:flex-row sm:items-end gap-x-2">
			<fieldset class="fieldset flex-1">
				<legend class="fieldset-legend">Title</legend>
				<input
					type="text"
					name="title"
					class="input w-full"
					placeholder="e.g. References, Hint, Background"
					value={ block.Title }
					required
				/>
			</fieldset>
			<fieldset class="fieldset">
				<legend class="fieldset-legend">Options</legend>
				<div class="form-control">
					<label class="label cursor-pointer justify-start gap-2">
						<input
							type="checkbox"
							name="small"
							class="checkbox checkbox-sm"
							checked?={ block.Small }
						/>
						<span class="label-text">Small text</span>
					</label>
				</div>
			</fieldset>
		</div>
		@TextareaField(toggleTextContentTextarea.SetValue(block.Content))
	</form>
}
