package templates

import (
	"fmt"
	"github.com/nathanhollows/Rapua/v8/blocks"
	templates "github.com/nathanhollows/Rapua/v8/internal/templates/blocks"
	"github.com/nathanhollows/Rapua/v8/models"
)

templ Complete(team models.Run, pageBlocks blocks.Blocks, blockStates map[string]blocks.PlayerState) {
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-8">
		for _, block := range pageBlocks {
			<div
				class="block-view"
				id={ fmt.Sprint("preview-block-", block.GetID()) }
			>
				@templates.RenderPlayerView(team.Quest.Settings, block, blockStates[block.GetID()])
			</div>
		}
		<div id="player-nav" class="flex flex-row justify-center mt-5">
			<a href="/journal" hx-boost="true" class="btn btn-ghost btn-outline">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open-check"><path d="M12 21V7"></path><path d="m16 12 2 2 4-4"></path><path d="M22 6V4a1 1 0 0 0-1-1h-5a4 4 0 0 0-4 4 4 4 0 0 0-4-4H3a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h6a3 3 0 0 1 3 3 3 3 0 0 1 3-3h6a1 1 0 0 0 1-1v-1.3"></path></svg>
				My Journal
			</a>
		</div>
		@footer(team)
	</div>
}
