package templates

import (
	"github.com/nathanhollows/Rapua/v8/blocks"
	"github.com/nathanhollows/Rapua/v8/game"
	templates "github.com/nathanhollows/Rapua/v8/internal/templates/blocks"
	"github.com/nathanhollows/Rapua/v8/models"
)

type ObjectiveViewData struct {
	Settings models.QuestSettings
	Zone     game.BlockContext
	Blocks   blocks.Blocks
	States   map[string]blocks.PlayerState
}

templ ObjectiveView(data ObjectiveViewData) {
	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-8">
		<div id="objective-zone" class="flex flex-col gap-8">
			@objectiveZoneContents(data)
		</div>
	</div>
}

templ ObjectiveZoneUpdate(data ObjectiveViewData) {
	<div id="objective-zone" class="flex flex-col gap-8" hx-swap-oob="true">
		@objectiveZoneContents(data)
	</div>
}

templ objectiveZoneContents(data ObjectiveViewData) {
	for _, block := range data.Blocks {
		<div
			class="block-view"
			id={ "preview-block-" + block.GetID() }
		>
			@templates.RenderPlayerView(data.Settings, block, data.States[block.GetID()])
		</div>
	}
}
